$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?0a6be4f1eead7de477ab7bfa19929d35") format("truetype"),
url("./flaticon.woff?0a6be4f1eead7de477ab7bfa19929d35") format("woff"),
url("./flaticon.woff2?0a6be4f1eead7de477ab7bfa19929d35") format("woff2"),
url("./flaticon.eot?0a6be4f1eead7de477ab7bfa19929d35#iefix") format("embedded-opentype"),
url("./flaticon.svg?0a6be4f1eead7de477ab7bfa19929d35#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "user": "\f101",
    "search": "\f102",
    "linkedin": "\f103",
    "twitter": "\f104",
    "galerie": "\f105",
    "global-network": "\f106",
    "heart": "\f107",
    "network": "\f108",
    "red-flag": "\f109",
    "location": "\f10a",
    "fleche-angulaire-pointant-vers-la-droite": "\f10b",
    "check": "\f10c",
    "moins": "\f10d",
    "chercher": "\f10e",
    "messager": "\f10f",
    "clock": "\f110",
    "information": "\f111",
    "home": "\f112",
    "cube-3d": "\f113",
);

.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-galerie:before {
    content: map-get($flaticon-map, "galerie");
}
.flaticon-global-network:before {
    content: map-get($flaticon-map, "global-network");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-network:before {
    content: map-get($flaticon-map, "network");
}
.flaticon-red-flag:before {
    content: map-get($flaticon-map, "red-flag");
}
.flaticon-location:before {
    content: map-get($flaticon-map, "location");
}
.flaticon-fleche-angulaire-pointant-vers-la-droite:before {
    content: map-get($flaticon-map, "fleche-angulaire-pointant-vers-la-droite");
}
.flaticon-check:before {
    content: map-get($flaticon-map, "check");
}
.flaticon-moins:before {
    content: map-get($flaticon-map, "moins");
}
.flaticon-chercher:before {
    content: map-get($flaticon-map, "chercher");
}
.flaticon-messager:before {
    content: map-get($flaticon-map, "messager");
}
.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-information:before {
    content: map-get($flaticon-map, "information");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-cube-3d:before {
    content: map-get($flaticon-map, "cube-3d");
}
